@model HeaderViewModel

<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">@Model.SubTitle</span>
        <span class="site-heading-lower">@Model.Title</span>
    </h1>
</header>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" asp-controller="coffee" asp-action="home">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                @{
                    foreach (var menu in Model.Menus)
                    {
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase" asp-controller="@menu.ControllerName" asp-action="@menu.ActionName">@menu.DisplayText</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>